/* Create two additional unordered lists
Set images as item markers for both of the lists
Both lists should be 200px wide, and should have a lot of text in each item
The markers in the second list should be inside a box */


ul {

    list-style-type: circle;
}
#secondList{

    list-style-type: square;
} 

#fourthList {

    list-style-type: upper-roman;
}

ul.addList {

    list-style-image: url(https://cdn3.iconfinder.com/data/icons/forum-emoticons-2-20x20/20/Kado.png);
    width: 200px;
}
#secondAdditonList {
   list-style-position: inside; 


}