body {
    background-image: url('./img/bg.jpg');
    background-repeat: repeat-x;
    background-size: 600px;
    background-position: left bottom;
    height: 1000px;
    background-color: #0211FF;
}